
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 40px;
  color: white;
}

.App-title {
  padding-top:5px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.formContainer {
  margin-top: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.formContainer input {
  opacity: .5;
  outline: none;
  font-size:  1.0rem;
  text-align: center;
  margin: 20px;
  padding: 5px;
  display: block;
  border: solid lightslategrey 1px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}

input:focus {
  border:1px solid teal;
}

.loginBtn {
  outline: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  font-size: 1.5rem;
  background-color: rgb(232, 232, 232);
  border: solid 2px lightgray;
  padding: .4rem;
  color: darkgray;
  border-radius: 50px;
  margin-bottom: 1rem;
  width: 200px;
  text-transform: uppercase;
  font-size: .8rem;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: teal;
}

button:hover {
  transition: ease-in-out, .2s;
  background-color: rgb(14, 82, 82);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
